*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;

}
/* nav*/
.marginform{
    margin: 1rem;
}

header{
    background-color: #050404e3;
    min-height: 10vh;
    color: white;
}
/*main*/
main{
    background-color: rgb(99, 101, 102);
    min-height: 80vh;
    padding: 1rem;
}
/*footer*/
.icono{
    color: white;
    font-size: 2.5rem;
    margin: 0 1rem;
    min-height: 20vh;
}

/*contacto*/
.divcontact{
    width: 40vw; 
}
.menssage{
    height: 25vh;
}

/*stats*/
.tabla {
    border:1px solid #000000;
    border-collapse:collapse;
    padding:5px;
    background-color: rgb(241, 239, 237);
}
.tabla th {
    border:1px solid #000000;
    padding:3px;
    background:#f1eaea;
}
.tabla td {
    border:1px solid #000000;
    padding:3px;
}

.card-img-top{
    width: 100%;
    height: 40%;
    object-fit: cover;
}
.card {
    width: 25rem;
    height: 30rem;
    background-color: #f3f3f3;
    
    
}
.card-body{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card a{
    background-color: #e92868;
}
#evento-seleccionado {
    width: 60%;
    height: 40%;
}
#evento-seleccionado img{
    width: 50%;
    height: 100%;
    object-fit: cover;
}
